*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.header_top img{
    height: 20px;
}

.ms_big{
    height: 650px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
}

.ms_big .col-12{
    color: white;
}

.ms_big .col-12 .content img{
    width: 10%;
}

.ms_big button{
    background-color: red;
}

.ms_square img{
    width: 30%;
}

.ms_square .col img{
    margin-top: 30px;
    width: 100%;
}

.play5{
    margin-top: 30px;
}

.console{
    margin-top: 30px;
}

.console img{
    width: 50%
}

.accessori .col img{
    margin-top: 30px;
    width: 45%;
}

.ms_big2{
    height: 650px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
}

.ms_big2 .col-12 .content img{
    width: 10%;
}

.new{
    margin-top: 30px;
    margin-bottom: 30px;
}

.new .col img{
    margin-top: 30px;
    width: 100%;
}

.play4 img{
    width: 60%;
}

.play4{
    margin-bottom: 3opx;
}