*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.header_top img{
    height: 30px;
}

.ms_big{
    height: 650px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
}

.ms_big .col-12{
    color: white;
}

.ms_big .col-12 .content img{
    width: 10%;
}

.ms_square img{
    width: 100%;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.play5{
    margin-top: 30px;
}

.console{
    margin-top: 30px;
}

.console img{
    width: 50%
}

.accessori .col img{
    margin-top: 30px;
    width: 45%;
}

.ms_big2{
    height: 650px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
}

.ms_big2 .col-12 .content img{
    width: 10%;
}

.new{
    margin-bottom: 30px;
    background-color: #191919;
    color: white;
}

.new .col img{
    margin-top: 30px;
    width: 100%;
}

.play4 img{
    width: 60%;
}

.play4{
    margin-bottom: 3opx;
}

.plus{
    background-color: lightgray;
    height: 300px;
    margin-top: 30px;
}

.plus img{
    width: 40%;
}

.sconti img{
    width: 50%;
}

.now{
    background-color: #000066;
    height: 300px;
    margin-top: 30px;
    color: white;
}

.now img{
    width: 40%;
}